include ../components/content-wrapper/content-wrapper.pug
include ../components/head/head.pug
include ../components/header/header.pug
include ../components/btn/btn.pug
include ../components/checkbox/checkbox.pug
include ../components/modal/modal.pug
include ../components/image/image.pug
include ../components/link/link.pug
include ../components/picture/picture.pug
include ../components/container/container.pug
include ../components/section/section.pug
include ../components/table-filter/table-filter.pug
include ../components/table-travel/table-travel.pug
include ../components/title/title.pug
include ../components/progress/progress.pug
include ../components/info-box/info-box.pug